.dlxNav,
.dlxNavFixed,
.dlxNavFixedRight,
.dlxNavRight {
}

.dlxNavHeader {
}

/*
GENERAL STYLES
-------------------------------------- */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ---------------
CLEAR FIX HACK 
--------------- */

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  zoom: 1;
  /* For IE 6/7 */
}

.wrapper {
  margin-top: 48px;
}
/*
BASIC STYLES
-------------------------------------- */
.dlxNav,
.dlxNavFixed,
.dlxNavRight,
.dlxNavFixedRight {
  box-sizing: border-box;
  width: 300px;
  /* POSITIONING */
  
  position: fixed;
  top: 0;
  bottom: 0;
}

.dlxNav,
.dlxNavFixed {
    text-align: right;
  /* POSITIONING */
  
  left: -300px;
}

.dlxNavRight,
.dlxNavFixedRight {
    text-align: left;
  /* POSITIONING */
  
  right: -300px;
}

.menuX {
  /* MENU 'X' ICON */
  
  border-bottom: 1px solid;
  line-height: 2em;
  margin-bottom: 10px;
  text-align: right;
}

.dlxNavRight .menuX,
.dlxNavFixedRight .menuX {
  /* MENU 'X' ICON */
  
  text-align: left;
}
/* ---------------
TRANSITION SPEED 
--------------- */

[class^="dlxNav"],
.menuIcon,
.soMedia a,
.wrapper {
  /* TRANSITION */
  
  transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -webkit-transition: .4s;
}
/*
CHECK BOX HACK
-------------------------------------- */

.xbxHack {
  /* HIDES CHECKBOX SQUARE */
  
  display: none;
}

.menuIcon {
  cursor: pointer;
}
/* ---------------
LEFT SIDE NAV 
--------------- */

input.xbxHack:checked + .dlxNav,
input.xbxHack:checked + .dlxNavFixed {
  /* SLIDES OUT .dlxNAV */
  
  left: 0;
}

input.xbxHack:checked ~ .wrapper {
  /* SLIDES WRAPPER CONTENT OVER */
  
  margin-left: 300px;
}

input.xbxHack:checked ~ .wrapper .dlxNavHeader {
  /* FIXED HEADER // SLIDE HACK */
  
  left: 300px;
  right: -300px;
}
/* ---------------
RIGHT SIDE NAV 
--------------- */

input.xbxHack:checked + .dlxNavRight,
input.xbxHack:checked + .dlxNavFixedRight {
  /* SLIDES OUT .dlxNAV */
  
  right: 0;
}

input.xbxHack:checked ~ .dlxNavRight + .wrapper,
input.xbxHack:checked ~ .dlxNavFixedRight + .wrapper {
  /* SLIDES WRAPPER CONTENT OVER */
  
  margin-left: -300px;
  margin-right: 300px;
}

input.xbxHack:checked ~ .dlxNavRight + .wrapper .dlxNavHeader,
input.xbxHack:checked ~ .dlxNavFixedRight + .wrapper .dlxNavHeader {
  /* FIXED HEADER // SLIDE HACK */
  
  right: 300px;
  left: -300px;
}
/*
HEADER // FIXED TOP
-------------------------------------- */

.dlxNavHeader {
  background: white;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* POSITIONING */
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.dlxNavHeader label {
  /* MENU BARS ICON */
  
  float: left;
}

.dlxNavRight + .wrapper .dlxNavHeader label,
.dlxNavFixedRight + .wrapper .dlxNavHeader label {
  /* MENU BARS ICON */
  
  float: right;
}
/* ---------------
SOCIAL MEDIA ICONS
--------------- */

.dlxNavHeader .soMedia {
  /* SOCIAL MEDIA LIST */
  
  float: right;
}

.dlxNavRight + .wrapper .dlxNavHeader .soMedia,
.dlxNavFixedRight + .wrapper .dlxNavHeader .soMedia {
  /* SOCIAL MEDIA LIST */
  
  float: left;
}

.dlxNavHeader .soMedia a {
  display: inline-block;
  font-size: 1.25em;
  line-height: 1.5em;
  margin-left: 10px;
  text-align: center;
  width: 30px;
}

.dlxNavHeader .soMedia a:first-child {
  margin: 0;
}
/*
RESPONSIVE CSS
-------------------------------------- */

@media screen and (min-width: 960px) {
  .dlxNavFixed {
    left: 0;
  }
  .dlxNavFixed + .wrapper {
    margin-top: 0;
    margin-left: 300px;
  }
  .dlxNavFixed .menuX,
  .dlxNavFixedRight .menuX,
  .dlxNavFixed + .wrapper .dlxNavHeader,
  .dlxNavFixedRight + .wrapper .dlxNavHeader {
    display: none;
  }
  /*
  FIXED RIGHT
  -------------------------------------- */
  
  .dlxNavFixedRight {
    right: 0;
  }
  .dlxNavFixedRight + .wrapper {
    margin-top: 0;
    margin-right: 300px;
  }
  /*
  CHECK BOX HACK
  -------------------------------------- */
  
  input.xbxHack:checked + .dlxNavFixedRight,
  input.xbxHack:not(:checked) + .dlxNavFixedRight {
    /* SLIDES OUT .dlxNAV */
    
    right: 0;
  }
  input.xbxHack:checked ~ .dlxNavFixedRight + .wrapper,
  input.xbxHack:not(:checked) ~ .dlxNavFixedRight + .wrapper {
    /* SLIDES WRAPPER CONTENT OVER */
    
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  /*
  CHECKBOX HACK
  -------------------------------------- */
  /* ---------------
  LEFT SIDE NAV 
  --------------- */
  
  input.xbxHack:checked + .dlxNav,
  input.xbxHack:checked + .dlxNavFixed {
    /* SLIDES OUT .dlxNAV */
    
    left: 0;
  }
  input.xbxHack:checked ~ .wrapper {
    /* SLIDES WRAPPER CONTENT OVER */
    
    margin-left: 100%;
  }
  input.xbxHack:checked ~ .wrapper .dlxNavHeader {
    /* FIXED HEADER // SLIDE HACK */
    
    left: 100%;
    right: -100%;
  }
  /* ---------------
  RIGHT SIDE NAV 
  --------------- */
  
  input.xbxHack:checked + .dlxNavRight,
  input.xbxHack:checked + .dlxNavFixedRight {
    /* SLIDES OUT NAV */
    
    right: 0;
  }
  input.xbxHack:checked ~ .dlxNavRight + .wrapper,
  input.xbxHack:checked ~ .dlxNavFixedRight + .wrapper {
    /* SLIDES WRAPPER CONTENT OVER */
    
    margin-right: 100%;
  }
  input.xbxHack:checked ~ .dlxNavRight + .wrapper .dlxNavHeader,
  input.xbxHack:checked ~ .dlxNavFixedRight + .wrapper .dlxNavHeader {
    /* FIXED HEADER // SLIDE HACK */
    
    right: 100%;
    left: -100%;
  }
  /*
  FULL WIDTH ON MOBILE 
  -------------------------------------- */
  
  [class^="dlxNav"]:not([class="dlxNavHeader"]) {    
    width: 100%;
    text-align: center;
  }
  
  .dlxNav,
  .dlxNavFixed {
    left: -100%;
  }
  
  .dlxNavRight,
  .dlxNavFixedRight {
    right: -100%;  
  }
  .menuX {
    text-align: right;
  }
}

