/* COLOR PALETTE
===================================*/
nav {
    background: #5F4845;
}

nav a {
    color: #9F726C;
}

nav a:hover,
.active {
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
}

/* UNIVERAL STYLES
===================================*/

/*TRANSITIONS*/
nav a {
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.wrapper {
    margin-left: 60px;
    width: 100%;
    background: red;
}


/* SIDE NAV
===================================*/

nav {
    display: table;
    height: 100%;
    position: fixed;
    left: 0;
    width: 60px;
}

nav ul {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

nav li:not(:first-child) {
    margin-top: 30px;
}

/* MAIN CONTENT
===================================*/
